@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');
:root{
    --mont-font : 'Montserrat', sans-serif;
}
*{
    margin: 0;
    padding: 0;
    font-family: var(--mont-font);
}
.crypto--table--container{
    /* border: 3px solid red; */
    padding: 3rem;
    height: auto;
    overflow-x: auto;
   
}
.crypto--table--container h1{
    color: white;
    text-align: center;
    margin-bottom: 2rem;
}
.crypto--table{
    width: 100%;
    background: #ecf0f1;
    /* padding: 2rem; */
}

.crypto--table th{
    padding: 2rem 3rem;
    border: 1px solid #ddd;
    font-size: 1.5rem;
    text-align: left;
    background: #41295a;
    color: white;
}
.crypto--table tr{
    margin-top: 2rem;
}
.crypto--table td{
    padding: 1rem 3rem;
    border: 1px solid #ddd;
    text-align: left;
}
.crypto--table img{
    width: 2rem;
}
p.coin--name{
    font-weight: 700;
    color: black;
}
.coin--desc{
    display: flex;
    align-items: center;
    gap: 0.4rem;
}
.crypto--table tr:nth-child(even){
    background: gold;
}
@media screen and (max-width: 40rem) {
    .crypto--table--container{
        overflow-x: auto;
        text-align: center;
        padding: 1rem;
    }
    .crypto--table{
        padding: 0rem;
        font-size: 0.5rem;
        border-spacing: 0px !important;
    }
    .crypto--table th{
        padding: .4rem 0.6rem;
        font-size: 0.4rem;
    }
    .crypto--table td {
        padding: 0.32rem .4rem;
        border: 1px solid #ddd;
        text-align: left;
    }
    .crypto--table img {
        width: 2rem;
    }
}